<!-- <div *ngIf="isLoading">Loading users...</div> -->

<!-- <table *ngIf="!isLoading" border="1">
    <thead>
        <tr>
            <th>ID</th>
            <th>Username</th>
            <th>Email</th>
            <th>Phone</th>
            <th>Created At</th>
            <th>Updated At</th>
            <th>Version</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let user of users">
            <td>{{ user.id }}</td>
            <td>{{ user.username }}</td>
            <td>{{ user.email }}</td>
            <td>{{ user.phone }}</td>
            <td>{{ user.createdAt }}</td>
            <td>{{ user.updatedAt }}</td>
            <td>{{ user.version }}</td>
        </tr>
    </tbody>
</table> -->


<div class="users-container">
    <table *ngIf="!isLoading" class="users-table">
        <thead>
            <tr>
                <th>ID</th>
                <th>Username</th>
                <th>Email</th>
                <th>Phone</th>
                <th>Created At</th>
                <th>Updated At</th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let user of users">
                <td>{{ user.id }}</td>
                <td>{{ user.username }}</td>
                <td>{{ user.email }}</td>
                <td>{{ user.phone }}</td>
                <td>{{ user.createdAt }}</td>
                <td>{{ user.updatedAt }}</td>
            </tr>
        </tbody>
    </table>

    <!-- Loading State -->
    <div *ngIf="isLoading" class="loading">
        Loading users...
    </div>

    <!-- No Users -->
    <div *ngIf="!isLoading && users.length === 0" class="no-users">
        No users available.
    </div>
</div>